{
  "openapi": "3.1.0",
  "info": {
    "title": "Shotlink API",
    "version": "1.0.0",
    "description": "Versioned API for Shotlink accounts, links, workspaces, billing, redirects, and operations. Unsafe cookie-authenticated requests require X-CSRF-Token."
  },
  "servers": [
    { "url": "https://api.shotlink.in", "description": "Production" },
    { "url": "http://localhost:5000", "description": "Local development" }
  ],
  "tags": [
    { "name": "Auth" },
    { "name": "Links" },
    { "name": "Workspace" },
    { "name": "Billing" },
    { "name": "Redirects" },
    { "name": "Operations" }
  ],
  "paths": {
    "/": {
      "get": { "tags": ["Operations"], "summary": "Service identity", "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" } } }
    },
    "/health": {
      "get": { "tags": ["Operations"], "summary": "Dependency readiness", "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "503": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/live": {
      "get": { "tags": ["Operations"], "summary": "Process liveness", "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" } } }
    },
    "/metrics": {
      "get": { "tags": ["Operations"], "summary": "Prometheus metrics", "security": [{ "metricsBearer": [] }], "responses": { "200": { "description": "Prometheus text exposition" }, "404": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": ["Auth"], "summary": "Register an account and workspace",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterRequest" } } } },
        "responses": { "201": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "409": { "$ref": "#/components/responses/JsonError" }, "429": { "$ref": "#/components/responses/JsonError" } }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Auth"], "summary": "Create a session",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "401": { "$ref": "#/components/responses/JsonError" }, "429": { "$ref": "#/components/responses/JsonError" } }
      }
    },
    "/api/v1/auth/me": {
      "get": { "tags": ["Auth"], "summary": "Read current session", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "401": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/auth/logout": {
      "post": { "tags": ["Auth"], "summary": "Revoke current session", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "401": { "$ref": "#/components/responses/JsonError" }, "403": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/links": {
      "get": { "tags": ["Links"], "summary": "List workspace links", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "401": { "$ref": "#/components/responses/JsonError" } } },
      "post": {
        "tags": ["Links"], "summary": "Create a short link", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateLinkRequest" } } } },
        "responses": { "201": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "403": { "$ref": "#/components/responses/JsonError" }, "409": { "$ref": "#/components/responses/JsonError" }, "429": { "$ref": "#/components/responses/JsonError" } }
      }
    },
    "/api/v1/links/{shortCode}/analytics": {
      "get": { "tags": ["Links"], "summary": "Read link analytics", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/ShortCode" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "404": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/links/{shortCode}/events": {
      "get": { "tags": ["Links"], "summary": "Read recent click events", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/ShortCode" }, { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "404": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/links/{shortCode}/expire": {
      "patch": { "tags": ["Links"], "summary": "Expire a link", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/ShortCode" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "404": { "$ref": "#/components/responses/JsonError" }, "429": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/links/{shortCode}/health-check": {
      "post": { "tags": ["Links"], "summary": "Refresh link health", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/ShortCode" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "404": { "$ref": "#/components/responses/JsonError" }, "429": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/workspace": {
      "get": { "tags": ["Workspace"], "summary": "Read workspace settings", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" } } }
    },
    "/api/v1/workspace/audit-events": {
      "get": { "tags": ["Workspace"], "summary": "List security audit events", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "403": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/workspace/domains": {
      "post": { "tags": ["Workspace"], "summary": "Add a custom domain", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["hostname"], "properties": { "hostname": { "type": "string", "maxLength": 253 } } } } } }, "responses": { "201": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "403": { "$ref": "#/components/responses/JsonError" }, "409": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/workspace/domains/{hostname}/verify": {
      "post": { "tags": ["Workspace"], "summary": "Verify domain ownership", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/Hostname" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "404": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/workspace/domains/{hostname}/primary": {
      "patch": { "tags": ["Workspace"], "summary": "Set primary domain", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/Hostname" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "404": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/workspace/domains/{hostname}": {
      "delete": { "tags": ["Workspace"], "summary": "Remove unused domain", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "parameters": [{ "$ref": "#/components/parameters/Hostname" }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "404": { "$ref": "#/components/responses/JsonError" }, "409": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/billing/plans": {
      "get": { "tags": ["Billing"], "summary": "List public plans", "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" } } }
    },
    "/api/v1/billing/summary": {
      "get": { "tags": ["Billing"], "summary": "Read billing and usage", "security": [{ "sessionCookie": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" } } }
    },
    "/api/v1/billing/payment-links": {
      "post": { "tags": ["Billing"], "summary": "Create a one-time checkout", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "requestBody": { "$ref": "#/components/requestBodies/PlanRequest" }, "responses": { "201": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "502": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/billing/subscriptions": {
      "post": { "tags": ["Billing"], "summary": "Create a subscription checkout", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "requestBody": { "$ref": "#/components/requestBodies/PlanRequest" }, "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "201": { "$ref": "#/components/responses/JsonSuccess" }, "409": { "$ref": "#/components/responses/JsonError" }, "502": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/billing/subscriptions/sync": {
      "post": { "tags": ["Billing"], "summary": "Verify and reconcile the current Razorpay subscription", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "404": { "$ref": "#/components/responses/JsonError" }, "409": { "$ref": "#/components/responses/JsonError" }, "502": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/billing/subscriptions/cancel": {
      "post": { "tags": ["Billing"], "summary": "Cancel subscription at cycle end", "security": [{ "sessionCookie": [], "csrfToken": [] }, { "sessionBearer": [] }], "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "cancelAtCycleEnd": { "type": "boolean", "default": true } } } } } }, "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "400": { "$ref": "#/components/responses/JsonError" }, "502": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/api/v1/billing/webhooks/razorpay": {
      "post": { "tags": ["Billing"], "summary": "Receive signed Razorpay events", "parameters": [{ "name": "X-Razorpay-Signature", "in": "header", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }, "responses": { "200": { "$ref": "#/components/responses/JsonSuccess" }, "401": { "$ref": "#/components/responses/JsonError" } } }
    },
    "/{shortCode}": {
      "get": { "tags": ["Redirects"], "summary": "Resolve a public short link", "parameters": [{ "$ref": "#/components/parameters/ShortCode" }], "responses": { "302": { "description": "Redirect to the selected destination" }, "402": { "description": "Workspace click quota reached" }, "404": { "description": "Short URL not found" }, "410": { "description": "Short URL expired" }, "502": { "description": "No healthy destination" } } }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": { "type": "apiKey", "in": "cookie", "name": "__Host-shotlink_session" },
      "sessionBearer": { "type": "http", "scheme": "bearer" },
      "csrfToken": { "type": "apiKey", "in": "header", "name": "X-CSRF-Token" },
      "metricsBearer": { "type": "http", "scheme": "bearer" }
    },
    "parameters": {
      "ShortCode": { "name": "shortCode", "in": "path", "required": true, "schema": { "type": "string", "minLength": 3, "maxLength": 48 } },
      "Hostname": { "name": "hostname", "in": "path", "required": true, "schema": { "type": "string", "maxLength": 253 } }
    },
    "schemas": {
      "Error": { "type": "object", "required": ["error"], "properties": { "error": { "type": "string" }, "details": { "type": "array", "items": { "type": "object", "properties": { "field": { "type": "string" }, "message": { "type": "string" } } } } } },
      "RegisterRequest": { "type": "object", "required": ["name", "email", "password", "consents"], "properties": { "name": { "type": "string", "maxLength": 100 }, "email": { "type": "string", "format": "email", "maxLength": 254 }, "password": { "type": "string", "minLength": 8, "maxLength": 128 }, "workspaceName": { "type": "string", "maxLength": 100 }, "consents": { "$ref": "#/components/schemas/AccountConsents" } } },
      "AccountConsents": { "type": "object", "required": ["ageConfirmed", "termsAccepted", "privacyAccepted", "analyticsAccepted", "lawfulUseAccepted"], "properties": { "ageConfirmed": { "type": "boolean" }, "termsAccepted": { "type": "boolean" }, "privacyAccepted": { "type": "boolean" }, "analyticsAccepted": { "type": "boolean" }, "lawfulUseAccepted": { "type": "boolean" }, "marketingOptIn": { "type": "boolean" } } },
      "LoginRequest": { "type": "object", "required": ["email", "password"], "properties": { "email": { "type": "string", "format": "email", "maxLength": 254 }, "password": { "type": "string", "maxLength": 128 } } },
      "CreateLinkRequest": { "type": "object", "required": ["originalUrl", "compliance"], "properties": { "originalUrl": { "type": "string", "format": "uri", "maxLength": 4096 }, "customAlias": { "type": "string", "minLength": 3, "maxLength": 48 }, "customDomainHost": { "type": "string", "maxLength": 253 }, "expiresInMinutes": { "type": "integer", "minimum": 1, "maximum": 10080 }, "fallbackUrls": { "type": "array", "maxItems": 5, "items": { "oneOf": [{ "type": "string", "format": "uri" }, { "type": "object", "required": ["url"], "properties": { "url": { "type": "string", "format": "uri" }, "label": { "type": "string", "maxLength": 100 } } }] } }, "compliance": { "type": "object", "required": ["destinationAuthorityAccepted", "securityScanAccepted", "abusePolicyAccepted"], "properties": { "destinationAuthorityAccepted": { "type": "boolean" }, "securityScanAccepted": { "type": "boolean" }, "abusePolicyAccepted": { "type": "boolean" } } } } }
    },
    "requestBodies": {
      "PlanRequest": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["planId"], "properties": { "planId": { "type": "string", "enum": ["pro", "business"] } } } } } }
    },
    "responses": {
      "JsonSuccess": { "description": "Successful JSON response", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
      "JsonError": { "description": "JSON error response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    }
  }
}
